.container {
  /* border: 2px solid black; */
  /* background-color: blueviolet; */
  margin: 10px 100px 0px 100px;
  /* display: flex; */
}

.mb-3 {
  background-color: gainsboro;
  margin: 10px 200px 0px 200px;
  border-radius: 2%;
}
.align-self-center {
  /* display: flex; */
  justify-self: center;
}
.article {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
}
* {
  list-style-type: none;
}
